/* welcome section */
.welcome_container {
  padding: 60px 0;
}

.welcome_container>* {
  margin-bottom: 10px;
}

.welcome_section::before {
  content: "";
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* end welcome section */

